{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello! ✅</h1>


		{% for ticket in tickets %}
			<h3>
				<b>{{ ticket.name }}
					<br></b>
			</h3>
			<b>
				{% if ticket.priority == 0 %} {{"Acil"}}
				{% elseif ticket.priority == 1 %} {{ "Önemli" }}
				{% else %} {{ "Standart" }}
				{% endif %}
				<br></b>

			{% if ticket.status == 4 %} 
            {{"Açık"}}
			{% else %} 
            {{"Kapalı"}}
			{% endif %}
			<hr>
		{% endfor %}
	</div>
{% endblock %}
